*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(166, 177, 225);
    padding: 10px 0;
}

nav {
    text-align: center;
}

.menu-lista {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-opciones {
    margin: 0 20px;
}

.menu-opciones a {
    text-decoration: none;
    color: rgb(66, 72, 116);
}

.menu-opciones a:hover {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}