*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelos {
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.modelos:hover {
    background-color: #4CAF50;
    color: white;
}

.cont-modelos {
    width: 200vh;
    margin: 20px;
}
